registry=https://pkgs.dev.azure.com/iesamsa/_packaging/IESACommonNPM/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/iesamsa/_packaging/IESACommonNPM/npm/registry/:username=iesamsa
//pkgs.dev.azure.com/iesamsa/_packaging/IESACommonNPM/npm/registry/:_password=amR3YnN2czVxeHBmemJ1bHdqMzdmcWd1d2syeXM1eXRya29vM21vbjdzZzU2M2N4cGE2cQ==
//pkgs.dev.azure.com/iesamsa/_packaging/IESACommonNPM/npm/registry/:email=david.raya@iesa.es
//pkgs.dev.azure.com/iesamsa/_packaging/IESACommonNPM/npm/:username=iesamsa
//pkgs.dev.azure.com/iesamsa/_packaging/IESACommonNPM/npm/:_password=amR3YnN2czVxeHBmemJ1bHdqMzdmcWd1d2syeXM1eXRya29vM21vbjdzZzU2M2N4cGE2cQ==
//pkgs.dev.azure.com/iesamsa/_packaging/IESACommonNPM/npm/:email=david.raya@iesa.es
; end auth token

