<div>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Pega el json</mat-label>
      <textarea [(ngModel)]="rawData" matInput
        placeholder="Con esto tengo toda la info" name="raw"
        (focusout)="onChangeValue()"></textarea>
    </mat-form-field>
  </form>
</div>

<div  style="display: flex;">
  @if (showVideo == true){
  <div style="flex: 30%;">
    <ng-container>
      <video controls [src]="videoUrl" width="500" height="500">
        Tu navegador no soporta el elemento <code>video</code>.
      </video>
    </ng-container>
  </div>
  <div style="flex: 70%;">
    @for (apiCall of savedData.requests; track apiCall.url) {
      <li>
        {{ apiCall.url }}
        <br>
      </li>
      } @empty {
      <li>There are no items.</li>
      }
  </div>
  }
</div>




