<div class="row margin-top-20">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="row margin-top-20 margin-bottom-20">
            <h2>Listado de incidencias activas</h2>
        </div>
        <div class="row margin-top-20 margin-bottom-20">
            <lib-iesa-tc-common-angular-complete-table #localDataTableReference (valueSelected)="getActionButton($event)"
            [tableData]="issuesTableDataTable">
        </lib-iesa-tc-common-angular-complete-table>
        </div>

    </div>
    <div class="col-md-2">

    </div>
</div>
