.video-data{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

mat-card{
    mat-card-content {
        display: grid;
        li{
            margin-top:5px;
        }
    }   
}

.timeline-container {
    position: relative;
    background-color: #f0f0f0;
    margin-top: 10px;
  }
  
  .timeline-marker {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
  }