

<div class="row">
  <div class="col-md-12 video-data">
    @if(rawData === undefined){
      <div class="row">
        <div class="col-md-12 video-data">
          <form class="">
            <mat-form-field class="example-full-width">
              <mat-label>Pega el json</mat-label>
              <textarea [(ngModel)]="rawData" matInput
                placeholder="Con esto tengo toda la info" name="raw"
                (focusout)="onChangeValue()"></textarea>
            </mat-form-field>
          </form>
        </div>
      </div>
    }
    @if (showVideo == true){
      <div class="row">
        <div class="col-md-12 ">
          <ng-container>
            <video controls #videoVC id="videoVC" controls  [src]="videoUrl" width="100%" height="700" >
              Tu navegador no soporta el elemento <code>video</code>.
            </video>
            
            <div class="timeline-container" [style.width.%]="100" [style.height.px]="20">
              @for (marker of markers; track marker) {
                <span 
                class="timeline-marker" 
                [style.left.%]="calculatePosition(marker.timer)">
                {{ marker.label }}
              </span>
              }
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Mensajes de error</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              @for (log of savedData.consoleError; track log) {
                <li style="color: red;">
                  {{ log.error }}
                  <br>
                </li>
                } @empty {
                <li>There are no items.</li>
                }
            </mat-card-content>
            <mat-card-footer >
            </mat-card-footer>
        </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Llamadas http</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              @for (apiCall of savedData.requests; track apiCall.url) {
                <li>
                  {{ apiCall.url }} <button mat-button (click)="openDialog(apiCall)">Open
                    dialog</button>
                  <br>
                </li>
                } @empty {
                <li>There are no items.</li>
                }
            </mat-card-content>
            <mat-card-footer >
            </mat-card-footer>
        </mat-card>
        </div>
        <div class="col-md-6">
          <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Mensajes de la consola</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              @for (log of savedData.consoleLogs; track log) {
              <li>
                {{ log.error }}
                <br>
              </li>
              } @empty {
              <li>There are no items.</li>
              }
            </mat-card-content>
            <mat-card-footer >
            </mat-card-footer>
        </mat-card>
        </div>
        <div class="col-md-6">
          <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>LocalStorage</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              {{savedData.localStorage.toString()}}
            </mat-card-content>
            <mat-card-footer >
            </mat-card-footer>
        </mat-card>
        </div>
        
      </div>
    }
  </div>
</div>

